html {height:100%;}
body{margin:0px; height:100%;}

a {color:black; text-decoration: none;}
h1 {
    font-size:250%;
    text-align:left;
    border-bottom:2px solid black;
    margin:0px;
    padding:20px;
    }

#active {color:#3F71CC;}
#grid {
    display:grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    }
#grid ul {
  border-right:2px solid black;
  width:190px;
  margin:0px;
  padding-left:40px; padding-top:20px; padding-bottom:20px;
  }
#grid ul h4{margin-left:0px;margin-top:0px;margin-bottom:10px;}
#main{
  text-align:center;
  padding-top:50px;
  padding-left:50px; padding-right: 50px;
}
@media (max-width:750px) {
  h1{text-align:center;}
  #grid {display:block;}
  #grid ul {border-right:none; border-bottom:2px solid black; text-align:center; width:100%; list-style:none; padding-left:0px}
}
